:host ::ng-deep .p-menubar .p-menubar-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

::ng-deep .p-overlaypanel-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.subcategory {
    flex: 15%;
    width: auto;
    text-align: left;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.skill {
    text-align: left;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}