<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SkillSync email confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Saira', sans-serif;">
    <div style="max-width: 100%; background-color: #1842b6; padding: 1.25em;">
        <div style="max-width: 100%; display: flex; flex-direction: column; gap: 3em; justify-content: space-between; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin: 0 auto;">
            <nav style="display: flex; align-items: center; justify-content: space-between; padding: 0;">
                <a href="localhost:4200" style="text-decoration: none;">
                    <h1 style="font-size: 3em; color: #fff; font-weight: 700; display: block; margin: 0;">Skill<span style="color: #26d48c;">Sync</span></h1>
                </a>
            </nav>
            <div style="margin: 0 auto; padding: 2em; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 58px rgba(0, 0, 0, .2); width: 75%; background-color: #F8F8F9;">
                <div style="color: #000103;">
                    <h1 style="margin-top: 0; margin-bottom: 0.5rem; font-weight: 600; line-height: 1.2; color: #000103;">Welcome to SkillSync!</h1>
                    <p>Dear [User's Name],</p>
                    <p>With one click, you’ve opened the door to the world’s most talented freelancer services marketplace.</p>
                    <p>Finally, there’s a lifetime of opportunities in one place. All those projects you have planned or put on hold? Just one click away. No need to prioritize, postpone, or procrastinate – thousands of skilled professionals are ready to take on your next project, from content and design to business and development. It’s time to start getting those to-dos done.</p>
                    <p>Welcome to the future of work.</p>
                    <p style="text-align: center;"><a href="[Verification Link]" style="display: inline-block; padding: 10px 20px; background-color: #26d48c; color: white; text-decoration: none; border-radius: 5px;">Get Started</a></p>
                    <p>If you didn't sign up for SkillSync, please disregard this message.</p>
                    <p>Best regards,</p>
                    <p>The SkillSync Team</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>