<app-stats-bar />
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="../../../assets/img/about-3.jpg" class="img-fluid w-75 rounded" alt=""
                        style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="../../../assets/img/about-4.jpg" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary">About SkillSync</h5>
                <h1 class="mb-4">Your Gateway to Skilled Freelancers and Seamless Project Management</h1>
                <p>Welcome to SkillSync, where we connect businesses and individuals with top-tier freelancers from
                    across the globe. Our platform is designed to streamline the process of finding, hiring, and
                    collaborating with skilled professionals, ensuring that your projects are completed with excellence
                    and efficiency.</p>
                <p class="mb-4">At SkillSync, we believe in the power of talent and the importance of finding the right
                    person for the job. Our innovative IT solutions make it easy for clients to discover freelancers
                    with the specific skills they need, while providing freelancers with opportunities to showcase their
                    expertise and grow their careers.</p>
                <a class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
            </div>
        </div>
    </div>
</div>