<div class="container-fluid">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="h-100 position-relative">
                    <img src="../../../assets/img/fibo.jpg" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2 class="text-primary">Meet Fibi, Your Personal Assistant!</h2>
                <h4 class="mb-4">We’re excited to introduce Fibi, your
                    friendly and knowledgeable chatbot, designed to enhance your experience on our platform. Whether
                    you’re a freelancer looking to showcase your skills or a client searching for the perfect talent,
                    Fibi is here to help you every step of the way.</h4>
                <p>
                    <span class="text-primary">Have a question about how to use the platform?</span><br>
                    <span class="me-5">Just ask Fibi! Whether it's
                        navigating the site, creating a profile, or finding a project, Fibi provides quick and accurate
                        answers.</span><br><br>
                    <span class="text-primary">Need help getting started?</span><br>
                    Fibi offers step-by-step guides and tutorials to ensure
                    you make the most out of our features.
                    No matter what time it is, Fibi is always available to assist you, ensuring you
                    get the help you need without any delay.
                    Why Use Fibi?
                </p>
                <p class="mb-4">
                    <span class="text-secondary">Ready to Get Started?</span>
                    Click the chat icon in the bottom corner to start a conversation with Fibi. Experience
                    seamless support and make your journey on our platform smooth and enjoyable. Whether you’re new here
                    or a seasoned user, Fibi is here to ensure you have everything you need to succeed.
                </p>
            </div>
        </div>
    </div>
</div>